<div class="container">
<div class="row">
  <div class="col-sm-6">
<h3 class="header">Articles</h3>
<p>
    <strong>Title:</strong></hr>
    <%= @article.title %>
</p>

<p>
    <strong>Text:</strong></hr>
    <%= @article.text %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> 
<%= link_to 'show', article_path(@article) %>
<%= link_to 'Back', articles_path %>

    </div>
</div>
</div>